
  <p>Hi there. I’m Steven. I’m a software geek! I made this site as a labor of love. It’s my own home away from…… the office. It’s my project to help democratize knowledge & the power to build things.

  </p>
  <br>
  <p>Software is a beautiful thing. It’s freeing; yet structured. It has empowered the dramatic growth of productivity. It’s pushed progress in an unparalleled upward trend

  </p>
  <br>
  <p>I hope this site can help change the world

  </p>
  <br>
  <p>Well….. I’m not much of a writer, so to fill in some space. Here are some pictures of my cats.

  </p>
  <br>
