<div class="under-construction container-fluid">
  <p class="center">Sorry, not much here yet</p>
  <p class="center">Be sure to check back soon</p>
  <%=image_tag "comingsoon.png", :id => "comingsoon-image" %>
</div>
