<footer class="footer">
      <div class="container">
        <div class=row>
          <div class="col-xs-6">
            <p class="text-muted" id= footer-text>2016 | stevenanton.io</p>
          </div>
          <div class="col-xs-6" id="social-icons">
          <a href= "https://twitter.com/steven_az"><i class="fa fa-twitter" aria-hidden="true" id="twit-icon"></i></a>
          <a href= "https://github.com/pastranastevenaz"><i class="fa fa-github" aria-hidden="true" id="git-icon"></i></a>

          </div>
        </div>
      </div>
</footer>
