<div class="text-content" id="about-text">
<p>Hello. Thank you for visiting. My name is Steven. I am a software and web developer, a Linux devotee, open-source evangelist, and general tech lover. On the rare occasion that you don’t find me behind a computer screen, I’m typically reading or watching something history related. I love history, especially mid 19th through early 20th century Western history. If not, I’ll probably be dodging traffic on my bicycle, or at the gym picking things up and putting them back down a few times. :-)
Although I’m originally from Barranquilla, Colombia; I grew up in NYC and currently live in an oven also known as Phoenix. AZ. I’ve got 2 cats, a fiancée who’s support I would go nowhere without, and a large and very loving family. </p>

 <p>I have experience with front end web design, as well as back end software development and database design and administration. I like to dabble in graphic design, in particular vector graphic editing and design.</p>
 </div>