
<!-- This is the jumbotron area -->
<div class="container-fluid" id="jumbo">
  <div class="container" id="title-content">
    <%= image_tag "mecircshadow.png", :id => "title-content-image" %>
    <div class="container-fluid"><h1 id="title-content-text">stevenanton.io</h1></div>
  </div>
</div>
<!-- End of jumbotron area -->


<div class="box" id="intro-content">

  <div class="container-fluid" id="contact-form">
    <%= render partial: "shared/about" %>
    <hr>
    <%= render partial: "shared/slideshow" %>
    <hr>
    <br>
    <h2>Interested in working together?</h2>
    <br>
    <p>Send me a message, and let's change the world!</p>
    <br>
    <%= render partial: "contacts/new" %>
  </div>

</div>
