
<!-- This is the jumbotron area -->
<div class="container-fluid" id="jumbo">
  <div class="container" id="title-content">
    <%= image_tag "mecircshadow.png", :id => "title-content-image" %>
    <div class="container-fluid"><h1 id="title-content-text">stevenanton.io</h1></div>
  </div>
</div>
<!-- End of jumbotron area -->


<div class="box" id="intro-content">

  <div class="container-fluid" id="contact-form">
    <div class="hideme">
    <%= render partial: "shared/about" %>
    </div>
    <hr>
    <div class="hideme">
    <%= render partial: "shared/slideshow" %>
    </div>
    <hr class="hideme">
    <br>
    <h2 class="hideme">Interested in collaborating?</h2>
    <br>
    <p class="hideme">Send me a message, and let's make something.</p>
    <br>
    <div class="hideme">
    <%= render partial: "contacts/new" %>
    </div>
    <br>
  </div>

</div>
