/* STYLE
--------------------------
*/
#footer-text {
  font-size: 16px;
  color: #fff;
}
#git-icon {
  vertical-align: top;
  color: #fff;
}
#twit-icon {
  vertical-align: top;
  color: #fff;
}
.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  background: #003E40;
  height: 50px;
  padding-top: 2%;
  margin-top: 50px;
  margin-bottom: 0%;
}
