// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#social-icons{
    text-align: right;
}


.hidden-warning{
    visibility: hidden;
    color: red;
}

#index-text{
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 75%;
}

#jumbo {
  background-image: url(skyline.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#title-content {
  position: relative;
  text-align: center;
  padding-top: 30vh;
  z-index: 0;
}
#title-content-image {
  width: 20%;
  height: auto;
}
#title-content-text {
  font-size: 2em;
  color: #fff;
}
