// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#social-icons{
    text-align: right;
}


.hidden-warning{
    visibility: hidden;
    color: red;
}

#index-text{
    margin-left: 2%;
    margin-top: 20px;
    margin-right: 5%;
    margin-bottom: 5px;

}

#jumbo {
  background-image: url(skyline.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -20px;
}

#title-content {
  position: relative;
  text-align: center;
  padding-top: 20vh;
  z-index: 0;
}
#title-content-image {
  width: 30%;
  height: auto;
  circle-shadow: 1px 1px 3px rgba(0,0,0,1);

}
#title-content-text {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10%;
}
#contact-form {
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 50px;
}
#response {
  margin-left: 60px;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 50px;
}
#alert {
  margin-left: 46px;
  margin-top: 20px;
  margin-right: 60px;
}
#intro-content {
  margin-bottom: 10%;
}
#lovecode {
  height: 30vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.codepic {
  height: 30vh;
  margin-top: 20vh;
  margin-bottom: 20vh;
}
