// Place all the styles related to the programming controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#think-point {
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #eee;
}
.think-text {
  padding-top: 40vh;
}
